//- pug 前處理語言
//- 負責簡化HTML的寫法

//- 安裝
//- yarn global add pug-cli

//- watch自動轉成HTML
//- pug -w your-file.pug

//- 用法
//- 1.去掉<>
p i love u 

//- 2.加class&id
h1.red 我是加class=red的h1 
h1#blue 我是加id=blue的h1 

//- 3.用縮排來表示巢狀關係
h1 我是父層
  h2 我是子層 

//- 4.a href 不空格+(href=" ")
a(href="網址",
style="width:400px") 點我la
